<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper SYSTEM "path/mybatis-3-mapper.dtd">

<mapper namespace="co.yedam.board.mapper.BoardMapper">
	<select id="selectList" resultType="co.yedam.board.service.BoardVO">
		SELECT * FROM BOARD 
	</select>
	
	<select id="selectQnaList" resultType="co.yedam.board.service.BoardVO">
		select * from board where board_category = 'QnA게시판'
	</select>
	<select id="selectNoticeList" resultType="co.yedam.board.service.BoardVO">
		select * from board where board_category = '공지사항'
	</select>

	<select id="selectFreeList" resultType="co.yedam.board.service.BoardVO">
		select * from board where board_category = '자유게시판'
	</select>
	
	<select id="select" resultType="co.yedam.board.service.BoardVO"
		parameterType="int">
		select * from board where board_code=#{boardCode}
	</select>
	
	
	<update id="boardView" parameterType="int">
		UPDATE BOARD SET board_view = board_view+1
		where board_code = #{boardCode}
	</update>
	
	<update id="likecnt" parameterType="int">
		UPDATE BOARD SET likecnt = likecnt+1
		where board_code = #{boardCode}
	</update>

	<insert id="insert"
		parameterType="co.yedam.board.service.BoardVO">
		INSERT INTO BOARD VALUES(seq_board.nextval, #{boardCategory}, #{boardTitle}, #{userId}, SYSDATE,#{updateDate},#{boardContent},#{image1},#{image2},#{image3},#{boardView},#{likeCnt})
	</insert>

	<update id="update" parameterType="co.yedam.board.service.BoardVO">
		UPDATE BOARD SET
		BOARD_TITLE=#{boardTitle},
		IMAGE1=nvl(#{image1},image1),
		UPDATE_DATE=SYSDATE,
		BOARD_CONTENT=#{boardContent}
		
		WHERE BOARD_CODE = #{boardCode}
	</update>

	<delete id="delete" parameterType="int">
		delete from board where
		board_code=#{boardCode}
	</delete>

<!-- 파라미터가 2개인 경우 에는 @Param을 사용 -->
<!-- 	<select id="getUser" -->
<!-- 		resultType="co.yedam.admin.service.MemberVO"> -->
<!-- 		select * from member where mid=#{id} and pass =#{pw} -->

<!-- 	</select> -->
	
<!-- 	<select id="memberList" -->
<!-- 		resultType="co.yedam.admin.service.MemberVO"> -->
<!-- 		SELECT * FROM MEMBER -->

<!-- 	</select> -->

</mapper>