<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.coupon.mapper.CouponMapper">
	
	<!-- 	쿠폰관리	 -->
	<select id="getCoupon" resultType="co.yedam.coupon.service.CouponVO">
	SELECT C.USER_ID, U.USER_NAME, U.NICKNAME, U.GENDER, C.COUPON_CODE, C.COUPON_TYPE FROM COUPON C LEFT JOIN USERTABLE U ON C.USER_ID = U.USER_ID
	</select>
	
	<insert id="insertCoupon" parameterType="co.yedam.coupon.service.CouponVO">
	INSERT INTO COUPON (USER_ID, COUPON_CODE, COUPON_TYPE) VALUES (#{userId}, #{couponCode}, #{couponType})
	</insert>
	
	<delete id="deleteCoupon" parameterType="int">
	DELETE FROM COUPON WHERE USER_ID = #{id} AND COUPON_CODE = #{cc}
	</delete>

</mapper>