<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration SYSTEM "mybatis-3-config.dtd">
<configuration>
	<properties resource="config/db.properties">
	</properties>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<!-- date타입..? -->
<!-- 	<typeHandlers> -->
<!-- 	<typeHandler handler="com.naver.dbill.admin.common.handler.CustomDateHandler"/> -->
<!-- </typeHandlers> -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="co/yedam/board/mapper/BoardMapper.xml" />	
		<mapper resource="co/yedam/member/mapper/MemberMapper.xml" />			
		<mapper resource="co/yedam/restaurant/mapper/RestaurantMapper.xml" />
		<mapper resource="co/yedam/coupon/mapper/CouponMapper.xml" />	
		<mapper resource="co/yedam/reply/mapper/ReplyMapper.xml" />		
		<mapper resource="co/yedam/review/mapper/ReviewMapper.xml" />	
	</mappers>
	
</configuration>