<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper SYSTEM "mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.review.mapper.ReviewMapper">

<select id="selectList" resultType="co.yedam.review.service.ReviewVO">
	SELECT * FROM REVIEW WHERE RS_CODE = #{rsCode}
</select>

<insert id="insertReview" parameterType="co.yedam.review.service.ReviewVO">
	INSERT INTO REVIEW (REVIEW_CODE, RS_CODE, USER_ID, NICKNAME, WRITE_DATE, WRITE_CONTENT, STAR_TASTE, STAR_PRICE, STAR_SERVICE) VALUES (SEQ_REVIEW.NEXTVAL, #{rsCode}, #{userId}, #{nickname}, SYSDATE, #{writeContent}, #{starTaste}, #{starPrice}, #{starService})
</insert>

</mapper>