<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "path/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.member.mapper.MemberMapper">
	
	<!--로그인시 아이디 비번 받기  -->
	<select id="getUser" resultType="co.yedam.member.service.MemberVO"> 
	SELECT*FROM USERTABLE WHERE USER_ID=#{id} AND USER_PW=#{pw}
	</select>
	<!--멤버조회  -->
	<select id="memberList" resultType="co.yedam.member.service.MemberVO">
	SELECT*FROM USERTABLE
	</select>
	<!-- 멤버 단건 조회 -->
	<select id="selectMem" resultType="co.yedam.member.service.MemberVO">
	SELECT USER_ID, USER_PW, USER_NAME, NICKNAME, TO_CHAR(BIRTHDAY,'YYYY-MM-DD')AS BIRTHDAY, PHONE, ADDRESS, IMAGE FROM USERTABLE WHERE USER_ID = #{id}
	</select> 
	
	<!-- 멤버삭제 : 관리자 -->
	<delete id="deleteMember">
	DELETE FROM USERTABLE WHERE USER_ID = #{id}
	</delete>
	
	<!--회원가입시 아이디 닉네임 중복확인용 리스트  -->
	<select id="memberId" resultType="co.yedam.member.service.MemberVO">
	SELECT*FROM USERTABLE where user_id=#{id}
	</select>
	<!--회원가입시 아이디 닉네임 중복확인용 리스트  -->
	<select id="memberNick" resultType="co.yedam.member.service.MemberVO">
	SELECT*FROM USERTABLE where nickname=#{nickname}
	</select>
	
	<!--회원가입시 등록  -->
	<insert id="insert" parameterType="co.yedam.member.service.MemberVO">
	INSERT INTO USERTABLE(USER_ID, USER_PW, USER_NAME, NICKNAME,BIRTHDAY, PHONE,
	ADDRESS, IMAGE,GENDER) VALUES (#{userId}, #{userPw}, #{userName}, 
	#{nickname}, TO_DATE(#{birthDay},'YYYY-MM-DD'),#{phone}, #{address}, NVL(#{image},'UIMAGE.jpg'), #{gender})
	</insert>
	
	<!-- 회원 수정 -->
	<update id= "memUpdate"  parameterType="co.yedam.member.service.MemberVO">
	UPDATE USERTABLE SET USER_PW= #{userPw}, USER_NAME= #{userName},BIRTHDAY=TO_DATE(#{birthDay},'YYYY-MM-DD'),
	PHONE=#{phone},ADDRESS=#{address}, IMAGE=NVL(#{image},image) where user_id=#{userId}
	</update>
	
<!-- 	<select id="getFollower" resultType="co.yedam.member.service.FollowVO"> -->
<!-- 	SELECT COUNT(*) FOLLOWER FROM FOLLOW WHERE FOLLOWER = #{id} -->
<!-- 	</select> -->
	
<!-- 	<select id="getFollowing" resultType="co.yedam.member.service.FollowVO"> -->
<!-- 	SELECT COUNT(*) FOLLWING FROM FOLLOW WHERE FOLLWING = #{id} -->
<!-- 	</select> -->
	
</mapper>