<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "path/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.member.mapper.MemberMapper">
	
	<!--로그인시 아이디 비번 받기  -->
	<select id="getUser" resultType="co.yedam.member.service.MemberVO"> 
	SELECT*FROM USERTABLE WHERE USERID=#{ID} AND USERPW=#{PW}
	</select>
	<!--회원가입시 아이디 닉네임 중복확인용 리스트  -->
	<select id="memberList" resultType="co.yedam.member.service.MemberVO">
	SELECT*FROM USERTABLE
	</select>
	<!--회원가입시 등록  -->
	<select id="insert" parameterType="co.yedam.member.service.MemberVO">
	INSERT INTO USERTABLE(USER_ID, USER_PW, USER_NAME, NICKNAME, GRADE, PHONE,
	 ADRESS, GUN_GU, RESCNT, MONE,IMAGE) VALUES (#{USERID}, #{USERPW}, #{USERNAME}, 
	 #{NICKNAME}, user, #{PHONE}, #{ADDRESS}, #{GUNGU}, 0, 0,  #{IMAGE})
	</select>
	
	<select id="getCoupon" resultType="co.yedam.member.service.MemberVO">
	SELECT C.USER_ID, U.USER_NAME, U.NICKNAME, U.GENDER, C.COUPON_CODE, C.COUPON_TYPE FROM COUPON C LEFT JOIN USERTABLE U ON C.USER_ID = U.USER_ID
	</select>
	
	<insert id="insertCoupon" parameterType="co.yedam.member.service.MemberVO">
	INSERT INTO COUPON VALUES 
	</insert>

</mapper>